@use "../../styles/utilities" as *;
@use "../../styles/mixins" as *;

@keyframes grow {
    0% {
        transform: translate(-50%, -40%) scale(0); transform-origin: 50 0; 
    }
    100% {
        transform: translate(-50%, -40%) scale(1); transform-origin: 50 0;
    }
}

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 100;
}

.exercise-modal {
    @include flex-contents();
    flex-direction: column;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    padding: 1rem 3rem;
    z-index: 100;
    background-color: $primary-text-color;
    color: $secondary-text-color;

    @include tablet {
        top: 40%;
        left: 50%;
        transform: translate(-50%, -40%);
        width: fit-content;
        height: fit-content;
        padding: 3rem 1rem 2rem;
        border-radius: 8px;
        animation: grow 0.2s ease-out;
    }
    
    &__close {
        position: absolute;
        right: 1rem;
        top: 1rem;
        cursor: pointer;
    }

    &__content {
        @include flex-contents(flex-start, flex-start);
        flex-direction: column;
        max-width: 15rem;
        padding-left: 0.75rem;
    }

    &__gif {
        box-shadow: 0 0 5px 5px $primary-text-color;
        margin-bottom: 1rem;
        width: 10rem;

        @include tablet {
            width: 15rem;
            margin-bottom: 0;
        }
    }

    &__title {
        font-size: 1rem;
        font-weight: 600;

        @include tablet {
            font-size: 1.25rem;
        }        
    }

    &__info {
        font-size: 0.9rem;

        @include tablet {
            font-size: 1rem;
        }     
    }

    &__detail {
        @extend .exercise-modal__info;
    }

    &__add {
        margin-top: 1rem;
        font-weight: 600;

        @include tablet {
            display: none;
        }
    }

    &__button {
        &--add {
            display: none;

            @include tablet {
                display: block;
                margin-top: 0.5rem;
            }
        }

        &--submit {
            width: 100%;
            margin-top: 0.5rem;
        }

        &--close {
            margin: 1rem 0 !important;
            width: 13rem;
        }

        &--today {
            width: 13rem;
            margin-bottom: 1.5rem;
        }
    }

    &__form {
        @include flex-contents(flex-start, center);
        font-size: 0.9rem;
        flex-wrap: wrap;
        margin-top: 0.75rem;
        transition: max-height 0.5s;
        max-width: 21.5rem;

        @include tablet {
            align-items: flex-end;
            max-height: 0;
            flex-direction: row;
            font-size: 1rem;
            margin-top: 1.5rem;
            overflow: hidden;
            width: 24.5rem;
            max-width: none;
        }

        &--open {
            max-height: 10rem;
            transition: max-height 0.5s ease-out;
        }
    }

    &__label {
        @include flex-contents(flex-start, center);
        font-weight: 500;
        margin-bottom: 0.5rem;
        margin-right: 0.5rem;

        &:not(:first-child) {
            @include tablet {
                margin-left: 1.5rem;
            }
        }
    }

    &__input {
        width: 3rem;
        text-align: right;
        margin-left: 0.5rem;
        padding: 0 0.25rem;

        &:nth-child(7){
            @include tablet {
                margin-right: 2rem;
            }
        }
    }

    &__units {
        margin: 0 1rem 0.5rem 0;

        @include tablet {
            margin-right: 0;
        }
    }
}

// remove scroll on number input
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
