@use '../styles/utilities' as *;

*, *::before, *::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

%page-container {
  background-image: url('../assets/images/image.jpg');
  background-position: center;
  background-size: cover;
  width: 100%;
}

.page-title {
  font-size: 2rem;
  font-weight: 700;
  margin: 1rem;
  margin-left: 2rem;
  color: $primary-text-color;
  background-image: linear-gradient(to right, black 10%, rgba(255, 255, 255, 0.678));
  opacity: 0.8;
}

.details-title {
  width: 100%;
  font-size: 2rem;
  font-weight: 700;
  display: flex;
  justify-content: center;
}

.primary-button {
  height: 2.25rem;
  border-radius: 10px;
  cursor: pointer;
  padding: 0 1rem;
  background-color: $secondary-brand-color;
  color: $primary-text-color;
  border: none;

  &:hover {
    background-color: $secondary-text-color;
  }

  &--disabled {
    background-color: $border-color;
  }
}

.secondary-button {
  @extend .primary-button;
  background-color: $primary-text-color;
  color: $border-color;
  border: 1px solid $border-color;
  margin-right: 1rem;

  &:hover {
    color: $secondary-brand-color;
    background-color: $primary-text-color;
    border: 1px solid $secondary-brand-color
  }
}

.form-field {
  height: 1.5rem;
  border-radius: 5px;
  border: 1px solid $border-color;

  &::placeholder {
    color: $border-color;
  }

  &:focus {
    outline: 1px solid $secondary-brand-color;
  }

  &--error {
    outline: 1px solid $error-color;
  }
}