@use '../styles/utilities' as *;
@use '../styles/mixins' as *;

*, *::before, *::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  color: $primary-text-color;
  font-family: "Lato", sans-serif;
}

%page-container {
  background-color: $main-bg-color;
  width: 100%;
  min-height: calc(100vh - 52px);
  padding: 1rem;
}

.page-title {
  font-size: 2rem;
  font-weight: 600;  
  color: $primary-text-color;
  width: fit-content;
  border-bottom: 1px solid $primary-brand-color;
  border-image: linear-gradient(to right, $primary-brand-color, $main-bg-color) 30;

  @include tablet {
    margin: 0.5rem 1rem 0.25rem;
  }
}

.page-subtitle {
  color: $non-focus-color;

  @include tablet {
    margin: 0 0 1rem 1rem;
  }
}

%button {
  height: 2rem;
  font-size: 0.9rem;
  border-radius: 5px;
  cursor: pointer;
  padding: 0 1rem;

  @include tablet {
    height: 2.5rem;
    font-size: 1rem;
  }
}

.primary-button {
  @extend %button;
  background-color: $primary-brand-color;
  color: $secondary-text-color;
  border: none;

  &:hover {
    background-color: $button-hover-color;
  }

  &--disabled {
    background-color: $non-focus-color;
  }
}

.secondary-button {
  @extend %button;
  background-color: $primary-text-color;
  color: $border-color;
  border: 1px solid $primary-text-color;
  margin-right: 1rem;

  &:hover {
    border: 1px solid $border-color;
  }
}

.back-button {
  color: $primary-text-color;
  position: relative;
  z-index: 90;
  min-width: 2rem;
  cursor: pointer;

  @include tablet {
    left: 1rem;
  }
}

.delete-button {
  @extend %button;
  background-color: $error-color;
  color: $primary-text-color;

  &:hover {
    background-color: $border-color;
  }
}

.form-field {
  border: 1px solid $border-color;
  height: 1.5rem;

  &::placeholder {
    color: $border-color;
  }

  &:focus {
    outline: 1px solid $secondary-brand-color;
  }

  &--error {
    outline: 1px solid $error-color;
  }
}

.dropdown {
  font-size: 0.9rem;
  color: $border-color;
  border-radius: 2px;
  border: none;
}

.list-entry {
  color: $secondary-text-color;
  opacity: 0.8;
  border-bottom: 1px solid $border-color;
  padding: 1rem;

  &--table {
      display: none;

      @include tablet{
          @include flex-contents (flex-start);
      }
  }

  &--condensed {
      @include flex-contents (flex-start, flex-start);
      flex-direction: column;

      @include tablet{
          display: none;
      }
  }
}