@use "./utilities" as *;

@mixin tablet {
  @media (min-width: $tablet-breakpoint) {
    @content;
  }
}

@mixin smallTablet {
  @media (min-width: 520px) {
    @content;
  }
}

@mixin largeTablet {
  @media (min-width: 820px) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: $desktop-breakpoint) {
    @content;
  }
}

// flex contents and align according to parameters (default center)
@mixin flex-contents ($main:center, $cross:center) {
    display: flex;
    justify-content: $main;
    align-items: $cross;
  }