// brand colors
$primary-brand-color: #FFB300;
$secondary-brand-color: #1945aa;

// text colors
$primary-text-color: #FFFFFF;
$secondary-text-color: #000000;

// background colors
$sidebar-bg-color: #161616;
$sidebar-child-color: #212121;

// miscellaneous 
$error-color: #EA0000;
$active-link-color: rgba(255, 192, 82, 0.804);
$border-color: #3A3A3A;
$sidebar-hover-color: #434343;
$card-color: rgba(255, 255, 255, 0.9);
$non-focus-color: rgb(174, 174, 174);

// breakpoints
$tablet-breakpoint: 768px;
$desktop-breakpoint: 1280px;