@use '../../styles/utilities' as *;
@use '../../styles/mixins' as *;
@use '../../styles/global';

.bodypart-details {  
    @extend %page-container;
    padding-bottom: 4rem;
    position: relative;

    &__space {
        height: 1rem;
    }

    &__filter-btn {
        position: relative;
        top: 0.5rem;

        @include tablet {
            left: 2rem;
        }
    }

    &__filters {
        @include flex-contents(flex-start, flex-start);
        cursor: pointer;
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.5s ease-out;
        background-color: $border-color;
        opacity: 0.9;
        margin: 1rem;
        border-radius: 2px;

        @include tablet {
            @include flex-contents(flex-start, flex-end);
            margin: 1rem 1.5rem 1rem;
        }

        &--open {
            max-height: 10rem;
            transition: max-height 0.5s ease-in;
        }
    }

    &__filter {
        @include tablet {
            margin-right: 2rem;
        }
    }
    
    &__label {
        display: none;
        color: $non-focus-color;

        @include tablet {
            @include flex-contents(flex-start, flex-start);
            flex-direction: column;
        }
    }

    &__button {
        background-color: $non-focus-color;
        color: $border-color;
        border-radius: 2px;
        padding: 0 0.5rem;
        margin: 1.2rem 1rem 2rem auto;

        @include tablet {
            margin: 0 1rem 2rem auto;
            padding: 0 1rem;
        }
    }

    &__dropdowns {
        @include flex-contents(flex-start, flex-start);
        flex-direction: column;
        margin: 1rem;

        @include tablet {
            flex-direction: row;
        }
    }

    &__dropdown {
        margin-bottom: 0.5rem;
        margin-top: 0.25rem;

        @include tablet {
            @include flex-contents();
            flex-direction: column;
        }
    }
}