@use '../../styles/utilities' as *;
@use '../../styles/mixins' as *;
@use '../../styles/global';

.bodypart-details {  
    @extend %page-container;
    padding-bottom: 4rem;
    position: relative;

    &__filter-btn {
        position: relative;
        left: 2.5rem;
        top: -0.5rem;
    }

    &__filters {
        @include flex-contents(flex-start, flex-end);
        cursor: pointer;
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.5s ease-out;
        background-color: $border-color;
        opacity: 0.9;
        margin: 0 2rem 1rem;
        // padding: 1rem;
        // padding-bottom: 0;
        border-radius: 2px;

        &--open {
            max-height: 10rem;
            transition: max-height 0.5s ease-in;
        }
    }

    &__label {
        @include flex-contents(flex-start, flex-start);
        flex-direction: column;
        color: $non-focus-color;
        margin: 1rem 2rem 0 1rem;
    }

    &__button {
        background-color: $non-focus-color;
        color: $border-color;
        border-radius: 2px;
        padding: 0 1rem;
        margin: 0 1rem 1rem auto;
    }

    &__dropdown {
        margin-bottom: 1rem;
        margin-top: 0.25rem;
    }
}