@use '../../styles/colors.scss' as *;

.sidebar-item {
    width: 100%;
    color: $primary-text-color;
    cursor: default;

    &--clickable {
        cursor: pointer;
    }

    &__title {
        display: flex;
        padding: 1rem;
        transition: background-color 0.3s;

        &:hover {
            background-color: rgb(67, 67, 67);
        }
    }

    &__icon {
        margin-right: 0.5rem;
        width: 1rem;
    }

    &__expand {
        cursor: pointer;
        margin-left: auto;
        transform: rotate(0);
        transition: transform 0.3s;

        &--open {
            transform: rotate(180deg);
            transition: transform 0.3s;
        }
    }

    &__children {
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.5s ease-out;

        &--open {
            max-height: 10rem;
            transition: max-height 0.5s ease-in;
        }
    }

    &__child {
        padding-left: 2rem;
        background-color: rgb(33, 33, 33);
        border-bottom: 1px solid rgb(58, 58, 58)
    }
}