@use '../../styles/utilities.scss' as *;

.sidebar-item {
    width: 100%;
    cursor: default;
    font-size: 0.9rem;

    &--single {
        text-decoration: none;
        color: $primary-text-color;
        cursor: pointer;
    }

    &__content {
        display: flex;
        padding: 0.75rem;
        padding-bottom: 1rem;
        transition: background-color 0.3s;

        &:hover {
            background-color: $sidebar-hover-color;
        }
    }

    &__title {
        margin-left: 0.25rem;
        position: relative;
        top: 0.25rem;
    }

    &__icon {
        margin-right: 0.5rem;
        padding: 0.25rem 0.5rem;
        width: 1rem;
        // border-left: 2px solid $sidebar-bg-color;
    }

    &__expand {
        cursor: pointer;
        margin-left: auto;
        transform: rotate(0);
        transition: transform 0.3s;
        position: relative;
        top: 0.25rem;

        &--open {
            transform: rotate(180deg);
            transition: transform 0.3s;
            position: relative;
            top: -0.25rem;
        }
    }

    &__children {
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.5s ease-out;

        &--open {
            max-height: 10rem;
            transition: max-height 0.5s ease-in;
        }
    }

    &__child {
        padding-left: 2rem;
        background-color: $sidebar-child-color;
        border-bottom: 1px solid $border-color;
        text-decoration: none;
    }
}

.active {
    background-color: $active-link-color !important;
    color: $secondary-text-color;
    font-weight: 500;
}

.sidebar-item:has(.active) {
    cursor: default;
    
    & > div > i:first-child {
        border-left: 2px solid $active-link-color;
    }

    & > div {
        @extend .sidebar-item__children--open;
    }

    & > div > i:last-child {
        pointer-events: none;       
    }

    & > .sidebar-item__content:hover {
        background-color: $sidebar-bg-color;
    }
}