@use '../../styles/utilities' as *;
@use '../../styles/mixins' as *;
@use '../../styles/global';

.workouts {
    @extend %page-container;

    &__content {
        @include flex-contents();
        width: 100%;
        flex-direction: column;
    }

    &__dates {
        @include flex-contents();
        flex-direction: column;
        margin: 1rem 0;
    }

    &__button {
        margin: 2rem 0;
    }

    &__month {
        font-size: 1.5rem;
    }
}