@use '../../styles/utilities' as *;

.workouts {
    width: 100%;
    padding: 1rem;
    background-image: url('../../assets/images/image.jpg');
    background-position: center;
    background-size: cover;

    &__content {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    &__dates {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 1rem 0;
    }

    &__button {
        margin-top: 2rem;
    }

    &__month {
        font-size: 1.5rem;
    }
}