@use '../../styles/utilities' as *;
@use '../../styles/mixins' as *;

.exercise-card {
    @include flex-contents(flex-start, center);
    flex-direction: column;
    background-color: $primary-text-color;
    text-decoration: none;
    border: none;
    border-radius: 4px;
    box-shadow: -1px 1px 2px 2px $header-sidebar-color;
    color: $secondary-text-color;
    filter: grayscale(0.6);
    cursor: pointer;
    width: 100%;
  
    @include desktop {
        flex-basis: 17%;
    }
  
    &:hover {
        transform: scale(1.1);
        transition: transform 0.3s;
        filter: grayscale(0);
        color: $secondary-brand-color;
    }
  
    &__gif {
      margin: 0.5rem;
      max-width: 8rem;
    //   opacity: 0.6;
      box-shadow: 0 0 5px 5px #FFFFFF;
    }
  
    &__name {
        margin: 0.5rem;
        font-weight: 700;
        max-width: 8rem;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
        overflow: hidden;
    }
  }