@use '../../styles/utilities' as *;
@use '../../styles/mixins' as *;

.header {
    background-color: $header-sidebar-color;
    color: $primary-text-color;
    width: 100%;
    padding: 0.5rem 1rem 0.5rem 0.1rem;

    &__content {
        @include flex-contents(space-between);

        @include tablet {
            @include flex-contents(flex-start);
        }
    }

    &__hamburger {
        margin-left: 1rem;

        @include tablet {
            display: none;
        }
    }

    &__title {
        display: none;
        margin: 0;
        margin-right: 1rem;
        font-size: 1.1rem;

        @include tablet {
            display: block;
        }
    }

    &__user {
        display: flex;
        align-items: center;

        @include tablet {
            margin-left: auto;
        }
    }

    &__avatar {
        margin-right: 0.5rem;
        border-radius: 50%;
        width: 1.75rem;
        padding: 0.25rem 0;
    }

    &__left {
        @include flex-contents();
    }

    &__expand {
        cursor: pointer;
    }

    &__logout {
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.3s ease-out;
        position: absolute;
        right: 0.5rem;
        top: 3.25rem;
        background-color: $primary-text-color;
        color: $secondary-text-color;
        padding: 0 1rem;
        border-radius: 3px;
        z-index: 100;

        &--open {
            max-height: 5rem;
            transition: max-height 0.3s ease-in;
        }
    }

    &__search {
        margin-left: 1rem;
    }

    &__input {
        color: $secondary-text-color;
        border-radius: 5px 0 0 5px;
        padding: 0 0.3rem;
        width: 30vw;
    }

    &__button {
        border-radius: 0 5px 5px 0;
        background-color: $border-color;
        padding: 0.15rem 0.3rem;

    }
}