@use '../../styles/utilities' as *;
@use '../../styles/mixins' as *;

.sidebar-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 100;
}

.sidebar {
    display: none;
    background-color: $header-sidebar-color;
    min-height: 100vh;
    border-right: 2px solid $main-bg-color;
    // position: fixed;
    position: relative;
    // left: 0;
    // top: 0;
    // cursor: pointer;
    // z-index: 1000;

    &--open {
        display: block;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        width: 12rem;
        z-index: 100;
        transition: 1s;
        min-height: 100vh;
    }

    @include tablet {
        display: block;
        align-self: stretch;
        flex-shrink: 0;
        width: 12rem;
    }

    &__hamburger {
        position: absolute;
        top: 1rem;
        left: 1rem;
        display: none;

        &--show {
            display: block;
        }
    }
}

.logout {
    position: absolute;
    bottom: 0;
    padding: 1rem 1.25rem;

    &:hover {
        color: $active-link-color;
    }

    &__icon {
        margin-right: 0.5rem;
    }
}

.logo {
    margin: auto;
    padding: 2rem 0;
    width: 3rem;
}