@use '../../styles/utilities' as *;
@use '../../styles/mixins' as *;

.rbh-wrapper {
    display: none;
    width: 13rem;
    padding: 1rem;

    @include tablet {
        @include flex-contents();
    }
}

.rbh polygon:hover { 
    fill: $primary-brand-color !important; 
}