@use '../../styles/utilities' as *;
@use '../../styles/mixins' as *;

.rbh-wrapper {
    display: none;
    width: 12rem;
    padding: 1rem;

    @include tablet {
        @include flex-contents();
    }
}

.rbh polygon:hover { 
    fill: $border-color !important; 
}