@use '../../styles/global';
@use '../../styles/mixins' as *;
@use '../../styles/utilities' as *;

.explore {
    @extend %page-container;
    
    &__content {
        margin-top: 1.5rem;
        width: 90%;

        @include tablet {
            @include flex-contents(flex-start);
            margin-left: 1rem;
        }
    }
}

.explore-list {
    @include flex-contents(space-evenly, flex-start);
    flex-direction: column;
    width: 100%;

    @include tablet {
        width: 9rem;
        margin-right: 1rem;
    }

    @include desktop {
        width: 10rem;
        margin-right: 4rem;
    }

    &__item {
        background-color: $primary-text-color;
        border: 1px solid $border-color;
        border-radius: 4px;
        color: $secondary-text-color;
        width: 100%;
        padding: 0.5rem;
        margin-bottom: -1rem;
        font-weight: 500;
        cursor: pointer;

        @include tablet {
            margin-bottom: -1.2rem;
            padding: 0.25rem 0.5rem;
        }

        &:hover {
            @include tablet {
                transform: scale(1.1);
                color: $secondary-brand-color;

                & ~ i {
                    transform: scale(1.1);
                    color: $secondary-brand-color;    
                }
            }
        }

        &--active {
            @include tablet {
                transform: scale(1.1);
                color: $secondary-brand-color;

                & ~ i {
                    transform: scale(1.1);
                    color: $secondary-brand-color;    
                }
            }
        }
    }

    &__arrow {
        color: $secondary-text-color;
        position: relative;
        top: -1rem;
        right: 0.5rem;
        margin-left: auto;
        
        @include tablet {
            top: -0.7rem;
        }
    }
}