.explore {
    background-image: url('../../assets/images/image.jpg');
    background-position: center;
    background-size: cover;

    &__cards {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }
}