@use '../../styles/utilities' as *;
@use '../../styles/mixins' as *;
@use '../../styles/global';

.progress {
    @extend %page-container;

    &__graphs {
        @include flex-contents(space-evenly, flex-start);
        flex-direction: column;
        width: 100%;

        @include largeTablet {
            flex-direction: row;
        }
    }

    &__graph-wrapper {
        background-color: $modal-color;
        border-radius: 4px;
        padding: 1rem;
        margin-bottom: 1rem;
        width: 90%;
        box-shadow: -1px 1px 2px 2px $header-sidebar-color;

        @include largeTablet {
            width: 100%;
        }

        & > canvas {
            width: 100% !important;
        }
    }

    &__graph-container {
        @include flex-contents(flex-start, flex-start);
        flex-direction: column;
        color: $secondary-text-color;
        margin: 2rem;
        margin-top: 1rem;
        width: 100%;

        @include largeTablet {
            flex-basis: 50%;
            width: auto;
        }

        &--freq {
            border-radius: 4px;
            background-color: $modal-color;
            padding: 1rem;
            width: 90%;
            box-shadow: -1px 1px 2px 2px $header-sidebar-color;

            @include largeTablet {
                width: 100%;
                margin-left: -0.75rem;
            }

            @include desktop {
                margin-left:  0;
            }
        }

        & > canvas {
            width: 100% !important;
        }
    }

    &__graph-title {
        margin-bottom: 1rem;
        font-size: 1.1rem;
    }

    &__dropdowns {
        @include flex-contents(flex-start, flex-start);
        flex-direction: column;
        margin-left: 1rem;
        margin-top: -0.5rem;
    }

    &__dropdown {
        color: $secondary-text-color;
        cursor: pointer;
    }

    &__dropdown-container {
        @include flex-contents();
        margin-top: 0.5rem;
    }

    &__dropdown-label {
        width: 1.5rem;
        height: 1.1rem;
        margin-right: 0.5rem;

        &--one {
            background-color: $primary-brand-color;
        }

        &--two {
            background-color: $secondary-brand-color;
        }
    }

    &__table {
        background-color: $modal-color;
        color: $secondary-text-color;
        padding: 1rem;
        margin: 2rem;
        margin-top: 0;
        border-radius: 4px;
        box-shadow: -1px 1px 2px 2px $header-sidebar-color;
    }
}

.progress-list {
    &__label {
        flex-basis: 20%;
    }

    &__date {
        flex-basis: 20%;
    }

    &__entry {
        padding: 1rem 0 !important;
        cursor: pointer;

        &:hover {
            background-color: $non-focus-color;
        }
    }

    &__descriptor {
        display: block;
    }

    &__header {
        margin-right: 0.5rem !important;
    }
}

.progress-welcome {
    @include flex-contents();
    flex-direction: column;
    margin: 8rem 3rem;

    &__logo {
        width: 5rem;
        margin-bottom: 1.5rem;
    }

    &__title {
        font-size: 2rem;
        margin-bottom: 0.5rem;
    }

    &__prompt {
        font-size: 1rem;
        margin-bottom: 2rem;
        text-align: center;
    }

    &__cta {
        width: 25rem;
    }
}