@use '../../styles/utilities' as *;
@use '../../styles/mixins' as *;
@use '../../styles/global';

.progress {
    @extend %page-container;

    &__graphs {
        @include flex-contents(space-evenly, flex-start);
        flex-direction: column;
        width: 100%;

        @include tablet {
            flex-direction: row;
        }
    }

    &__graph-wrapper {
        background-color: $modal-color;
        border-radius: 4px;
        padding: 1rem;
        margin-bottom: 1rem;
        width: 90%;
        box-shadow: -1px 1px 2px 2px $header-sidebar-color;

        @include tablet {
            width: 100%;
        }

        & > canvas {
            width: 100% !important;
        }
    }

    &__graph-container {
        @include flex-contents(flex-start, flex-start);
        flex-direction: column;
        color: $secondary-text-color;
        margin: 2rem;
        margin-top: 1rem;
        width: 100%;

        @include tablet {
            flex-basis: 50%;
            width: auto;
        }

        &--freq {
            border-radius: 4px;
            background-color: $modal-color;
            padding: 1rem;
            width: 90%;
            box-shadow: -1px 1px 2px 2px $header-sidebar-color;

            @include tablet {
                width: 100%;
            }
        }

        & > canvas {
            width: 100% !important;
        }
    }

    &__graph-title {
        margin-bottom: 1rem;
        font-size: 1.1rem;
    }

    &__dropdowns {
        @include flex-contents(flex-start, flex-start);
        flex-direction: column;
        margin-left: 1rem;
        margin-top: -0.5rem;
    }

    &__dropdown {
        color: $secondary-text-color;
        cursor: pointer;
    }

    &__dropdown-container {
        @include flex-contents();
        margin-top: 0.5rem;
    }

    &__dropdown-label {
        width: 1.5rem;
        height: 1.1rem;
        margin-right: 0.5rem;

        &--one {
            background-color: $primary-brand-color;
        }

        &--two {
            background-color: $secondary-brand-color;
        }
    }

    // &__content {
    //     @include flex-contents();
    //     flex-direction: column;
    //     margin: 12rem 2rem;
    // }

    &__welcome {
        color: $primary-brand-color;
        font-size: 3rem;
        font-weight: 600;
        text-shadow: -1px 1px $primary-text-color;
    }

    &__text {
        font-size: 1.5rem;
        margin: 0 2rem;
    }

    &__link {
        color: $secondary-brand-color;
        font-weight: 500;
        font-style: italic;
        text-decoration: underline;
    }

    &__table {
        background-color: $modal-color;
        color: $secondary-text-color;
        padding: 1rem;
        margin: 2rem;
        margin-top: 1rem;
        border-radius: 4px;
        box-shadow: -1px 1px 2px 2px $header-sidebar-color;
    }
}

.progress-list {
    &__label {
        flex-basis: 20%;
    }

    &__date {
        flex-basis: 20%;
    }

    &__entry {
        padding: 1rem 0 !important;
    }

    &__descriptor {
        display: block;
    }

    &__header {
        margin-right: 0.5rem !important;
    }
}
